extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	a.to-top(href='javascript:;')
	div(id='fullpage')
		.section
			.home
				.home__flex
					.home__left
						.home__content
							.home__text
								p
									b web-студия
							h1.home__title.section__title
								span MOCKUP.DIGITAL
							.home__text
								p Работаем с крупными <b class="nowrap"> digital-агентствами</b>.<br> Разрабатываем качественный дизайн, frontend и backend.
								p Создаем сайты <b>для бизнеса</b>, разрабатываем уникальный дизайн для вашей организации и "обвязываем" бизнес аналитикой.

							a.home__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
								.call-us__img
									svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
										path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
										path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
										path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
										path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')
								.call-us__span СВЯЗАТЬСЯ С НАМИ
							a.home__next-link.js-page-link(href="javascrip:;" data-index="1")
								svg(width='250' height='250' viewbox='0 0 250 250' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='125' cy='125' r='124.5' stroke='#222222')
									path(d='M124.944 98.772L124.944 151.24L113.784 140.079C113.605 139.901 113.313 139.901 113.134 140.079C112.955 140.258 112.955 140.551 113.134 140.729L125.079 152.674C125.079 152.674 125.079 152.674 125.08 152.675L125.403 153L125.728 152.675C125.728 152.674 125.729 152.674 125.729 152.674L137.674 140.729C137.764 140.639 137.807 140.522 137.807 140.405C137.807 140.287 137.762 140.169 137.674 140.079C137.494 139.9 137.203 139.9 137.024 140.079L125.863 151.24L125.863 98.772C125.863 98.5198 125.657 98.3125 125.403 98.3125C125.15 98.3125 124.944 98.5198 124.944 98.772Z' fill='#222222')
						.home__social.social
							a(href="#fb")
								svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M3.125 25H12.5V16.4062H9.375V12.5H12.5V9.375C12.5 6.78542 14.5979 4.6875 17.1875 4.6875H20.3125V8.59375H18.75C17.8875 8.59375 17.1875 8.5125 17.1875 9.375V12.5H21.0938L19.5312 16.4062H17.1875V25H21.875C23.5979 25 25 23.5979 25 21.875V3.125C25 1.40104 23.5979 0 21.875 0H3.125C1.40104 0 0 1.40104 0 3.125V21.875C0 23.5979 1.40104 25 3.125 25Z' fill='#222222')
							a(href="#in")
								svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M24.9936 25V24.999H24.9998V15.8302C24.9998 11.3448 24.0342 7.88959 18.7904 7.88959C16.2696 7.88959 14.5779 9.27292 13.8873 10.5844H13.8144V8.30834H8.84253V24.999H14.0196V16.7344C14.0196 14.5583 14.4321 12.4542 17.1269 12.4542C19.7821 12.4542 19.8217 14.9375 19.8217 16.874V25H24.9936Z' fill='#222222')
									path(d='M0.412415 8.30939H5.59575V25H0.412415V8.30939Z' fill='#222222')
									path(d='M3.00208 0C1.34479 0 0 1.34479 0 3.00208C0 4.65938 1.34479 6.03229 3.00208 6.03229C4.65937 6.03229 6.00417 4.65938 6.00417 3.00208C6.00312 1.34479 4.65833 0 3.00208 0V0Z' fill='#222222')
							a(href="#te")
								svg(width='30' height='25' viewbox='0 0 30 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.7712 16.4295L11.275 23.398C11.985 23.398 12.2925 23.0935 12.6612 22.7279L15.99 19.5519L22.8875 24.5948C24.1525 25.2986 25.0437 24.928 25.385 23.433L29.9125 2.25301L29.9137 2.25176C30.315 0.384848 29.2375 -0.345194 28.005 0.112798L1.39248 10.2847C-0.423772 10.9886 -0.396272 11.9994 1.08373 12.4574L7.88748 14.5701L23.6912 4.69771C24.435 4.20602 25.1112 4.47807 24.555 4.96976L11.7712 16.4295Z' fill='#222222')
							a(href="#sk")
								svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M24.2802 15.1523C26.0906 7.01686 18.9635 -0.373758 10.5938 1.04499C6.05 -1.7748 0 1.41166 0 6.8179C0 8.07519 0.346875 9.25228 0.95 10.2669C-0.732292 18.421 6.45312 25.7054 14.8156 24.1898C20.7271 27.3158 27.2594 21.0814 24.2802 15.1523ZM16.324 20.0585C14.1281 20.9616 10.5146 20.9668 8.32813 19.8221C5.21042 18.1596 4.65625 14.4169 7.34583 14.4169C9.37292 14.4169 8.73125 16.7804 10.7781 17.7439C11.7177 18.1783 13.7375 18.2231 14.9115 17.4314C16.0708 16.6554 15.9646 15.4346 15.3344 14.8512C13.6646 13.3096 8.88646 13.9221 6.70208 11.2231C5.75313 10.0523 5.57396 7.98665 6.74063 6.48874C8.77396 3.87207 14.7406 3.7127 17.3063 5.68874C19.675 7.52207 19.0354 9.9554 17.124 9.9554C14.825 9.9554 16.0333 6.94707 12.3219 6.94707C9.63125 6.94707 8.57292 8.86061 10.4677 9.79186C13.0365 11.0679 19.5823 10.6419 19.5823 15.6283C19.5771 17.7033 18.3052 19.2502 16.324 20.0585Z' fill='#222222')

					.home__right
						.home__image#js-paralax(style="background-image: url(images/home.jpg)")

		.section.dark
			.advantage
				.advantage__title.section__title.section__title--invert
					span НАШИ ЦЕННОСТИ
					a.advantage__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
						.call-us__img
							svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
								rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
								path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
								path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
								path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
								path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

				.slider-changer.advantage-control
					a.slider-changer__prev.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.slider-changer__counter
						.slider-changer__current 01
						.slider-changer__total 04
					a.slider-changer__next.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

				.advantage__flex
					.advantage__item
						.advantage__item-image
							img(src="img/advs-1.svg" alt="Все клиенты")
						.advantage__item-title Все клиенты
						.advantage__item-text одинаково важны для нас: от стартапов до <span class="nowrap">digital-агенств</span>

					.advantage__item
						.advantage__item-image
							img(src="img/advs-2.svg" alt="Наш подход")
						.advantage__item-title Наш подход
						.advantage__item-text включает в себя глубокую аналитику каждого проекта. Мы изучаем компанию, ее <span class="nowrap">бизнес-задачи</span> и предлагаем качественные варианты их решения

					.advantage__item
						.advantage__item-image
							img(src="img/advs-3.svg" alt="Наша сила")
						.advantage__item-title Наша сила
						.advantage__item-text это человеческий мозг, помноженный на технологии

					.advantage__item
						.advantage__item-image
							img(src="img/advs-4.svg" alt="Обеспечиваем")
						.advantage__item-title Обеспечиваем
						.advantage__item-text
							p технологическую поддержку и надежность продукта, предоставляем высококачественные услуги, которые нужны нашим клиентам и партнерам

		.section
			.service
				.service__title.section__title
					span НАШИ УСЛУГИ
					a.service__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
						.call-us__img
							svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
								rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
								path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
								path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
								path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
								path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

				.service__flex
					.service__item.active
						.service__item-title ДИЗАЙН
						ul.service__item-list
							li UX/UI
							li Сайт-визитка
							li Landing page
							li Корпоративный сайт
							li Интернет-магазин
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

					.service__item
						.service__item-title FRONT-END
						ul.service__item-list
							li PUG
							li Sass
							li Responsive/adaptive
							li БЭМ
							li GSAP
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

					.service__item
						.service__item-title BACK-END
						ul.service__item-list
							li 1C Bitrix
							li Wordpress
							li Open Cart
							li Modx revo
							li Shopify
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

					.service__item
						.service__item-title БРЕНДИНГ
						ul.service__item-list
							li Фирменный стиль
							li Логотип
							li Брендбук
							li Упаковка
							li Текстово-графическая реклама
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')


		.section.dark
			.process
				.process__main
					.process__left
						.process__dots
							a.process__dot.active(href="javascript:;") 01
							a.process__dot.subactive(href="javascript:;") 02
							a.process__dot(href="javascript:;") 03
							a.process__dot.hide(href="javascript:;") 04
							a.process__dot.hide(href="javascript:;") 05
							a.process__dot.hide(href="javascript:;") 06
					.process__control
						a.process__control-prev.arrow-link.arrow-link--notcenter(href="javascript:;")
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
						a.process__control-next.arrow-link.arrow-link--notcenter(href="javascript:;")
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.process__content
						.process__title.section__title.section__title--invert
							span КАК МЫ РАБОТАЕМ
							a.process__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
								.call-us__img
									svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
										path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
										path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
										path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
										path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

						.slider-changer.process-control
							a.slider-changer__prev.arrow-link.arrow-link--notcenter(href="javascript:;")
								.arrow-link__img
									svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
							.slider-changer__counter
								.slider-changer__current 01
								.slider-changer__total 04
							a.slider-changer__next.arrow-link.arrow-link--notcenter(href="javascript:;")
								.arrow-link__img
									svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')


						.process__flex

							.process__right
								.process__block.p-step.active
									.p-step__top
										.p-step__title <span>01</span> Анализ ТЗ
										.p-step__text
											p На первом этапе Заказчик предоставляет нашей компании всю имеющуюся информацию о предстоящем объеме работы.
											p При необходимости заключается соглашения о конфиденциальности предоставленных данных (NDA).
											p Вся информация должна быть максимально подробно изложена в развернутом структурированном виде (спецификация или техническое задание).

								.process__block.p-step
									.p-step__top
										.p-step__title <span>02</span> Согласование стоимости и условий работы с клиентом
										.p-step__text
											p На этом этапе с Заказчиком согласовывается стоимость работ в соответствии с техническим заданием или спецификацией и составу команды, принимающей участие в разработке проекта.
											p Доступны следующие модели сотрудничества:
											ul
												li Фиксированная цена - наиболее востребована для малого и среднего бизнеса в работе с краткосрочными и среднесрочными проектами.
												li Время и материалы - данная модель идеально подходит для долгосрочных проектов с изменяющимися требованиями и неопределенным объемом работ.

								.process__block.p-step
									.p-step__top
										.p-step__title <span>03</span> Формирование команды и выполнение работ
										.p-step__text
											p На этом этапе со стороны нашей компании комплектуется команда необходимых специалистов и выполнение работ.
											p Как правило это менеджер по ведению проекта, Backed программисты, Frontend программисты, UX/UI дизайнер, тестировщики.
											p При необходимости могут быть привлечены иные специалисты, связанные с особенностями проекта.

								.process__block.p-step
									.p-step__top
										.p-step__title <span>04</span> Тестирование
										.p-step__text
											p Тестирование проводится на всех этапах разработки проекта и в минимальном соотношении составляет не менее 15% от времени, потраченного на разработку.
											p Чем качественнее выполняется тестирование, тем надежнее программный продукт.

								.process__block.p-step
									.p-step__top
										.p-step__title <span>05</span> Ввод в эксплуатацию
										.p-step__text
											p На этом этапе подготавливается дополнительная документация по проекту.
											p Проект переносится с тестового сервера на реальный. Происходит базовое наполнение контентом.
											p Происходит обучение персонала заказчика для работы и обслуживания проекта.

								.process__block.p-step
									.p-step__top
										.p-step__title <span>06</span> Поддержка
										.p-step__text
											p В случае если заказчик желает продолжить развитие проекта, и у него отсутствует собственный штат разработчиков, мы готовы оказать последующую поддержку проекта.
											p Это могут быть как разовые задачи, так и выделенная команда с помесячной оплатой.
											p
												b Условия всегда очень индивидуальны.


		.section
			.portfolio
				.portfolio__flex
					.portfolio__title.portfolio__title--mobile.section__title
						span ПОРТФОЛИО
						a.portfolio__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
							.call-us__img
								svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
									rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
									path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
									path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
									path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
									path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

					.portfolio__left
						.portfolio__title.portfolio__title--desktop.section__title
							span ПОРТФОЛИО
							a.portfolio__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
								.call-us__img
									svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
										path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
										path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
										path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
										path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')
						ul.portfolio__menu
							li
								a.js-portfolio-link.active(href="javascript:;" data-link="https://xn--80abvkby4ca0ec.xn--p1ai/" data-image="images/projects/pizza.jpg") <span>01</span> Люблю Пицца
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://kovelselmash.com/" data-image="images/projects/kovel.jpg") <span>02</span> Ковельсельмаш
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://sensei.ua/" data-image="images/projects/sensei.jpg") <span>03</span> Sensei.ua
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://site4.ru" data-image="images/contacts.jpg") <span>04</span> Радио ENERJY
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://site5.ru" data-image="images/home.jpg") <span>05</span> Сдача аренды в Ростове
					.portfolio__right
						.portfolio__image
							img(src="images/projects/pizza.jpg" alt="")

						.portfolio__link
							a.arrow-link(href="https://xn--80abvkby4ca0ec.xn--p1ai/" target='_blank')
								.arrow-link__text НА САЙТ
								.arrow-link__img
									svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

				.slider-changer.portfolio-control
					a.slider-changer__prev.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.slider-changer__counter
						.slider-changer__current 01
						.slider-changer__total 05
					a.slider-changer__next.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')


				.portfolio__mobile
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/projects/kovel.jpg")
						a.arrow-link(href="https://kovelselmash.com/" target='_blank')
							.arrow-link__text Курчатовское время
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/contacts.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text NINJA PIZZA
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/home.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text ЭХО Москвы
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/contacts.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text Радио ENERJY
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/contacts.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text Сдача аренды в Ростове
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')



		.section.dark
			.contacts
				.contacts__title.section__title
					span СВЯЗАТЬСЯ С НАМИ
				.contacts__flex
					.contacts__left
						form.contacts__form.form
							.form__input
								input(type="text" name="" placeholder="Как к вам обращаться?" required)
								.form__input-status
							.form__input
								input(type="tel" name="" placeholder="Телефон" required)
								.form__input-status
							.form__input
								input(type="email" name="" placeholder="Email" required)
								.form__input-status
							.form__input
								select.js-custom-select(name="" required)
									option
									option(value="Аутсорс-разработка") Аутсорс-разработка
									option(value="Создание сайта") Создание сайта
									option(value="Техническая поддержка") Техническая поддержка
								.form__input-status
							.form__input
								textarea(name="" placeholder="Сообщение" required)
								.form__input-status


							.form__btns
								label.checkbox
									input(type="checkbox" name="agree" value="1" required checked)
									.checkbox__icon
									.checkbox__text Согласен с политикой конфиденциальности
								button.arrow-link.arrow-link--notcenter(type="submit")
									.arrow-link__img
										svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
						.contacts__info.contacts__info--left
							.contacts__col
								.contacts__col-title КОНТАКТНАЯ ИНФОРМАЦИЯ
								.contacts__col-text
									a(href="tel:+79155118815") +7 (915) 511 88-15
									a(href="mailto:agency@mockup.digital") agency@mockup.digital
							.contacts__col
								.contacts__col-title СВЯЗАТЬСЯ С НАМИ
								.contacts__col-social.social
									a(href="#fb")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M3.125 25H12.5V16.4062H9.375V12.5H12.5V9.375C12.5 6.78542 14.5979 4.6875 17.1875 4.6875H20.3125V8.59375H18.75C17.8875 8.59375 17.1875 8.5125 17.1875 9.375V12.5H21.0938L19.5312 16.4062H17.1875V25H21.875C23.5979 25 25 23.5979 25 21.875V3.125C25 1.40104 23.5979 0 21.875 0H3.125C1.40104 0 0 1.40104 0 3.125V21.875C0 23.5979 1.40104 25 3.125 25Z' fill='white')
									a(href="#in")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M24.9936 25V24.999H24.9998V15.8302C24.9998 11.3448 24.0342 7.88959 18.7904 7.88959C16.2696 7.88959 14.5779 9.27292 13.8873 10.5844H13.8144V8.30834H8.84253V24.999H14.0196V16.7344C14.0196 14.5583 14.4321 12.4542 17.1269 12.4542C19.7821 12.4542 19.8217 14.9375 19.8217 16.874V25H24.9936Z' fill='white')
											path(d='M0.412415 8.30939H5.59575V25H0.412415V8.30939Z' fill='white')
											path(d='M3.00208 0C1.34479 0 0 1.34479 0 3.00208C0 4.65938 1.34479 6.03229 3.00208 6.03229C4.65937 6.03229 6.00417 4.65938 6.00417 3.00208C6.00312 1.34479 4.65833 0 3.00208 0V0Z' fill='white')
									a(href="#te")
										svg(width='30' height='25' viewbox='0 0 30 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M11.7712 16.4295L11.275 23.398C11.985 23.398 12.2925 23.0935 12.6612 22.7279L15.99 19.5519L22.8875 24.5948C24.1525 25.2986 25.0437 24.928 25.385 23.433L29.9125 2.25301L29.9137 2.25176C30.315 0.384848 29.2375 -0.345194 28.005 0.112798L1.39248 10.2847C-0.423772 10.9886 -0.396272 11.9994 1.08373 12.4574L7.88748 14.5701L23.6912 4.69771C24.435 4.20602 25.1112 4.47807 24.555 4.96976L11.7712 16.4295Z' fill='white')
									a(href="#sk")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M24.2802 15.1523C26.0906 7.01686 18.9635 -0.373758 10.5938 1.04499C6.05 -1.7748 0 1.41166 0 6.8179C0 8.07519 0.346875 9.25228 0.95 10.2669C-0.732292 18.421 6.45312 25.7054 14.8156 24.1898C20.7271 27.3158 27.2594 21.0814 24.2802 15.1523ZM16.324 20.0585C14.1281 20.9616 10.5146 20.9668 8.32813 19.8221C5.21042 18.1596 4.65625 14.4169 7.34583 14.4169C9.37292 14.4169 8.73125 16.7804 10.7781 17.7439C11.7177 18.1783 13.7375 18.2231 14.9115 17.4314C16.0708 16.6554 15.9646 15.4346 15.3344 14.8512C13.6646 13.3096 8.88646 13.9221 6.70208 11.2231C5.75313 10.0523 5.57396 7.98665 6.74063 6.48874C8.77396 3.87207 14.7406 3.7127 17.3063 5.68874C19.675 7.52207 19.0354 9.9554 17.124 9.9554C14.825 9.9554 16.0333 6.94707 12.3219 6.94707C9.63125 6.94707 8.57292 8.86061 10.4677 9.79186C13.0365 11.0679 19.5823 10.6419 19.5823 15.6283C19.5771 17.7033 18.3052 19.2502 16.324 20.0585Z' fill='white')


					.contacts__right
						.contacts__image(style="background-image: url(images/contacts.jpg)")
						.contacts__info.contacts__info--right
							.contacts__col
								.contacts__col-title КОНТАКТНАЯ ИНФОРМАЦИЯ
								.contacts__col-text
									a(href="tel:+79155118815") +7 (915) 511 88-15
									a(href="mailto:agency@mockup.digital") agency@mockup.digital
							.contacts__col
								.contacts__col-title СВЯЗАТЬСЯ С НАМИ
								.contacts__col-social.social
									a(href="#fb")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M3.125 25H12.5V16.4062H9.375V12.5H12.5V9.375C12.5 6.78542 14.5979 4.6875 17.1875 4.6875H20.3125V8.59375H18.75C17.8875 8.59375 17.1875 8.5125 17.1875 9.375V12.5H21.0938L19.5312 16.4062H17.1875V25H21.875C23.5979 25 25 23.5979 25 21.875V3.125C25 1.40104 23.5979 0 21.875 0H3.125C1.40104 0 0 1.40104 0 3.125V21.875C0 23.5979 1.40104 25 3.125 25Z' fill='white')
									a(href="#in")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M24.9936 25V24.999H24.9998V15.8302C24.9998 11.3448 24.0342 7.88959 18.7904 7.88959C16.2696 7.88959 14.5779 9.27292 13.8873 10.5844H13.8144V8.30834H8.84253V24.999H14.0196V16.7344C14.0196 14.5583 14.4321 12.4542 17.1269 12.4542C19.7821 12.4542 19.8217 14.9375 19.8217 16.874V25H24.9936Z' fill='white')
											path(d='M0.412415 8.30939H5.59575V25H0.412415V8.30939Z' fill='white')
											path(d='M3.00208 0C1.34479 0 0 1.34479 0 3.00208C0 4.65938 1.34479 6.03229 3.00208 6.03229C4.65937 6.03229 6.00417 4.65938 6.00417 3.00208C6.00312 1.34479 4.65833 0 3.00208 0V0Z' fill='white')
									a(href="#te")
										svg(width='30' height='25' viewbox='0 0 30 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M11.7712 16.4295L11.275 23.398C11.985 23.398 12.2925 23.0935 12.6612 22.7279L15.99 19.5519L22.8875 24.5948C24.1525 25.2986 25.0437 24.928 25.385 23.433L29.9125 2.25301L29.9137 2.25176C30.315 0.384848 29.2375 -0.345194 28.005 0.112798L1.39248 10.2847C-0.423772 10.9886 -0.396272 11.9994 1.08373 12.4574L7.88748 14.5701L23.6912 4.69771C24.435 4.20602 25.1112 4.47807 24.555 4.96976L11.7712 16.4295Z' fill='white')
									a(href="#sk")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M24.2802 15.1523C26.0906 7.01686 18.9635 -0.373758 10.5938 1.04499C6.05 -1.7748 0 1.41166 0 6.8179C0 8.07519 0.346875 9.25228 0.95 10.2669C-0.732292 18.421 6.45312 25.7054 14.8156 24.1898C20.7271 27.3158 27.2594 21.0814 24.2802 15.1523ZM16.324 20.0585C14.1281 20.9616 10.5146 20.9668 8.32813 19.8221C5.21042 18.1596 4.65625 14.4169 7.34583 14.4169C9.37292 14.4169 8.73125 16.7804 10.7781 17.7439C11.7177 18.1783 13.7375 18.2231 14.9115 17.4314C16.0708 16.6554 15.9646 15.4346 15.3344 14.8512C13.6646 13.3096 8.88646 13.9221 6.70208 11.2231C5.75313 10.0523 5.57396 7.98665 6.74063 6.48874C8.77396 3.87207 14.7406 3.7127 17.3063 5.68874C19.675 7.52207 19.0354 9.9554 17.124 9.9554C14.825 9.9554 16.0333 6.94707 12.3219 6.94707C9.63125 6.94707 8.57292 8.86061 10.4677 9.79186C13.0365 11.0679 19.5823 10.6419 19.5823 15.6283C19.5771 17.7033 18.3052 19.2502 16.324 20.0585Z' fill='white')


				.contacts__copyline
					.contacts__copyleft MOCKUP.DIGITAL
					.contacts__copyright
						span 2017 - 2020 ©
						span Все права защищены
