extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	a.to-top(href='javascript:;')
	div(id='fullpage')
		.section
			.home
				.home__flex
					.home__left
						.home__content
							.home__text
								b web-студия
							h1.home__title.section__title
								span MOCKUP.DIGITAL
							.home__text
								p Работаем с крупными <b> digital production'ами </b>. Разрабатываем качественный дизайн, frontend и backend.
								p <b>Для бизнеса</b> разрабатываем сайты, создаем уникальный дизайн для вашей организации и "обвязываем" бизнес аналитикой.

							a.home__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
								.call-us__img
									svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
										path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
										path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
										path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
										path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')
								.call-us__span СВЯЗАТЬСЯ С НАМИ
							a.home__next-link.js-page-link(href="javascrip:;" data-index="1")
								svg(width='250' height='250' viewbox='0 0 250 250' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='125' cy='125' r='124.5' stroke='#222222')
									path(d='M124.944 98.772L124.944 151.24L113.784 140.079C113.605 139.901 113.313 139.901 113.134 140.079C112.955 140.258 112.955 140.551 113.134 140.729L125.079 152.674C125.079 152.674 125.079 152.674 125.08 152.675L125.403 153L125.728 152.675C125.728 152.674 125.729 152.674 125.729 152.674L137.674 140.729C137.764 140.639 137.807 140.522 137.807 140.405C137.807 140.287 137.762 140.169 137.674 140.079C137.494 139.9 137.203 139.9 137.024 140.079L125.863 151.24L125.863 98.772C125.863 98.5198 125.657 98.3125 125.403 98.3125C125.15 98.3125 124.944 98.5198 124.944 98.772Z' fill='#222222')
						.home__social.social
							a(href="#fb")
								svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M3.125 25H12.5V16.4062H9.375V12.5H12.5V9.375C12.5 6.78542 14.5979 4.6875 17.1875 4.6875H20.3125V8.59375H18.75C17.8875 8.59375 17.1875 8.5125 17.1875 9.375V12.5H21.0938L19.5312 16.4062H17.1875V25H21.875C23.5979 25 25 23.5979 25 21.875V3.125C25 1.40104 23.5979 0 21.875 0H3.125C1.40104 0 0 1.40104 0 3.125V21.875C0 23.5979 1.40104 25 3.125 25Z' fill='#222222')
							a(href="#in")
								svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M24.9936 25V24.999H24.9998V15.8302C24.9998 11.3448 24.0342 7.88959 18.7904 7.88959C16.2696 7.88959 14.5779 9.27292 13.8873 10.5844H13.8144V8.30834H8.84253V24.999H14.0196V16.7344C14.0196 14.5583 14.4321 12.4542 17.1269 12.4542C19.7821 12.4542 19.8217 14.9375 19.8217 16.874V25H24.9936Z' fill='#222222')
									path(d='M0.412415 8.30939H5.59575V25H0.412415V8.30939Z' fill='#222222')
									path(d='M3.00208 0C1.34479 0 0 1.34479 0 3.00208C0 4.65938 1.34479 6.03229 3.00208 6.03229C4.65937 6.03229 6.00417 4.65938 6.00417 3.00208C6.00312 1.34479 4.65833 0 3.00208 0V0Z' fill='#222222')
							a(href="#te")
								svg(width='30' height='25' viewbox='0 0 30 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.7712 16.4295L11.275 23.398C11.985 23.398 12.2925 23.0935 12.6612 22.7279L15.99 19.5519L22.8875 24.5948C24.1525 25.2986 25.0437 24.928 25.385 23.433L29.9125 2.25301L29.9137 2.25176C30.315 0.384848 29.2375 -0.345194 28.005 0.112798L1.39248 10.2847C-0.423772 10.9886 -0.396272 11.9994 1.08373 12.4574L7.88748 14.5701L23.6912 4.69771C24.435 4.20602 25.1112 4.47807 24.555 4.96976L11.7712 16.4295Z' fill='#222222')
							a(href="#sk")
								svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M24.2802 15.1523C26.0906 7.01686 18.9635 -0.373758 10.5938 1.04499C6.05 -1.7748 0 1.41166 0 6.8179C0 8.07519 0.346875 9.25228 0.95 10.2669C-0.732292 18.421 6.45312 25.7054 14.8156 24.1898C20.7271 27.3158 27.2594 21.0814 24.2802 15.1523ZM16.324 20.0585C14.1281 20.9616 10.5146 20.9668 8.32813 19.8221C5.21042 18.1596 4.65625 14.4169 7.34583 14.4169C9.37292 14.4169 8.73125 16.7804 10.7781 17.7439C11.7177 18.1783 13.7375 18.2231 14.9115 17.4314C16.0708 16.6554 15.9646 15.4346 15.3344 14.8512C13.6646 13.3096 8.88646 13.9221 6.70208 11.2231C5.75313 10.0523 5.57396 7.98665 6.74063 6.48874C8.77396 3.87207 14.7406 3.7127 17.3063 5.68874C19.675 7.52207 19.0354 9.9554 17.124 9.9554C14.825 9.9554 16.0333 6.94707 12.3219 6.94707C9.63125 6.94707 8.57292 8.86061 10.4677 9.79186C13.0365 11.0679 19.5823 10.6419 19.5823 15.6283C19.5771 17.7033 18.3052 19.2502 16.324 20.0585Z' fill='#222222')

					.home__right
						.home__image#js-paralax(style="background-image: url(images/home.jpg)")

		.section.dark
			.advantage
				.advantage__title.section__title.section__title--invert
					span НАШИ ПРЕИМУЩЕСТВА
					a.advantage__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
						.call-us__img
							svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
								rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
								path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
								path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
								path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
								path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

				.slider-changer.advantage-control
					a.slider-changer__prev.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.slider-changer__counter
						.slider-changer__current 01
						.slider-changer__total 04
					a.slider-changer__next.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

				.advantage__flex
					.advantage__item
						.advantage__item-image
							svg(width='254' height='273' viewbox='0 0 254 273' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M127.515 57.4357C139.727 57.4355 151.717 60.7094 162.238 66.9173C172.759 73.1253 181.428 82.0408 187.346 92.7379C193.263 103.435 196.212 115.523 195.886 127.747C195.561 139.972 191.973 151.885 185.495 162.252C178.867 172.828 169.487 181.398 158.362 187.039L157.337 187.555V217.032H97.6751V187.555L96.6504 187.039C82.9246 180.089 71.9389 168.709 65.4675 154.737C58.9961 140.765 57.4168 125.017 60.9846 110.035C64.5525 95.0539 73.0592 81.714 85.1309 72.17C97.2027 62.626 112.135 57.4351 127.515 57.4357ZM127.515 55.5701C111.721 55.5821 96.3912 60.9225 83.9999 70.7297C71.6085 80.5368 62.8784 94.2386 59.2183 109.624C55.5582 125.009 57.1816 141.181 63.8266 155.529C70.4715 169.877 81.7504 181.565 95.8431 188.706V218.897H159.225V188.706C173.321 181.563 184.601 169.872 191.246 155.52C197.89 141.168 199.51 124.993 195.846 109.606C192.181 94.2183 183.444 80.5165 171.046 70.7124C158.649 60.9082 143.313 55.5737 127.515 55.5701Z' fill='white')
								path(d='M157.573 235.147V238.573H157.461L157.542 240.514C157.542 240.912 157.573 241.334 157.573 241.757C157.46 249.643 154.252 257.167 148.643 262.703C143.034 268.239 135.475 271.343 127.599 271.343C119.723 271.343 112.164 268.239 106.555 262.703C100.946 257.167 97.7386 249.643 97.6253 241.757C97.6253 241.347 97.6253 240.924 97.6563 240.514L97.7371 238.573H97.6253V235.147H157.573ZM159.436 233.281H95.7622V240.439H95.7933C95.7933 240.874 95.7622 241.303 95.7622 241.745C95.8791 250.123 99.2847 258.118 105.243 264.001C111.2 269.885 119.232 273.183 127.599 273.183C135.967 273.183 143.998 269.885 149.956 264.001C155.914 258.118 159.319 250.123 159.436 241.745C159.436 241.303 159.436 240.874 159.405 240.439H159.436V233.281Z' fill='white')
								path(d='M127.273 68.9092C142.436 68.9108 156.976 74.9429 167.698 85.6789C178.419 96.4148 184.443 110.975 184.445 126.158' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M127.596 46.8391V0' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
								path(d='M187.575 69.1641L220.651 36.0497' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
								path(d='M207.144 126.488H253.913' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
								path(d='M1.28564 126.488H48.0552' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
								path(d='M68.5304 69.1641L35.4607 36.0497' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
						.advantage__item-title Умный дизайн с акцентом на удобство пользователей
						.advantage__item-text
							p

					.advantage__item
						.advantage__item-image
							svg(width='224' height='226' viewbox='0 0 224 226' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M86.5174 164.896C130.34 164.896 165.865 129.276 165.865 85.3379C165.865 41.3994 130.34 5.78027 86.5174 5.78027C42.6947 5.78027 7.16943 41.3994 7.16943 85.3379C7.16943 129.276 42.6947 164.896 86.5174 164.896Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M161.365 149.408C157.663 145.696 151.661 145.696 147.959 149.408C144.257 153.119 144.257 159.137 147.959 162.849L204.067 219.105C207.769 222.817 213.771 222.817 217.473 219.105C221.175 215.393 221.175 209.375 217.473 205.663L161.365 149.408Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M25.4265 111.423L54.0199 82.754' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='5 5')
								path(d='M98.0825 99.7005L126.676 71.0316' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='5 5')
								path(d='M83.6665 99.2851L67.179 82.754' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='5 5')
								path(d='M60.0796 86.3095C65.3849 86.3095 69.6857 81.9974 69.6857 76.6781C69.6857 71.3588 65.3849 67.0467 60.0796 67.0467C54.7744 67.0467 50.4736 71.3588 50.4736 76.6781C50.4736 81.9974 54.7744 86.3095 60.0796 86.3095Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M132.736 73.7492C138.041 73.7492 142.342 69.4371 142.342 64.1178C142.342 58.7986 138.041 54.4864 132.736 54.4864C127.431 54.4864 123.13 58.7986 123.13 64.1178C123.13 69.4371 127.431 73.7492 132.736 73.7492Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M90.9835 115.612C96.2887 115.612 100.589 111.3 100.589 105.981C100.589 100.661 96.2887 96.3492 90.9835 96.3492C85.6782 96.3492 81.3774 100.661 81.3774 105.981C81.3774 111.3 85.6782 115.612 90.9835 115.612Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
						.advantage__item-title Современные технологии и подходы к разработке frontend'а
						.advantage__item-text
							p Адаптивная валидная вёрстка под все браузеры, различные устройства и разрешения экранов. Делаем красивые анимации с высокой скоростью загрузки.

					.advantage__item
						.advantage__item-image
							svg(width='261' height='234' viewbox='0 0 261 234' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M37.2994 82.2641C53.4352 82.2641 66.5158 69.1684 66.5158 53.0141C66.5158 36.8598 53.4352 23.7641 37.2994 23.7641C21.1636 23.7641 8.08301 36.8598 8.08301 53.0141C8.08301 69.1684 21.1636 82.2641 37.2994 82.2641Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M32.7288 94.6141H43.1623C51.5997 94.6141 59.6916 97.9697 65.6578 103.943C71.6239 109.916 74.9757 118.017 74.9757 126.464V169.364H0.311523V127.114C0.311515 118.502 3.72544 110.243 9.80355 104.149C15.8817 98.0556 24.127 94.6261 32.7288 94.6141V94.6141Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M223.635 82.2641C239.771 82.2641 252.852 69.1684 252.852 53.0141C252.852 36.8598 239.771 23.7641 223.635 23.7641C207.5 23.7641 194.419 36.8598 194.419 53.0141C194.419 69.1684 207.5 82.2641 223.635 82.2641Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M219.065 94.6141H229.498C237.936 94.6141 246.028 97.9697 251.994 103.943C257.96 109.916 261.312 118.017 261.312 126.464V169.364H186.647V127.114C186.647 118.502 190.061 110.243 196.139 104.149C202.218 98.0556 210.463 94.6261 219.065 94.6141Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M130.318 69.6281C148.795 69.6281 163.774 54.6321 163.774 36.1336C163.774 17.6351 148.795 2.63908 130.318 2.63908C111.841 2.63908 96.8621 17.6351 96.8621 36.1336C96.8621 54.6321 111.841 69.6281 130.318 69.6281Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M120.378 83.7656H141.648C150.085 83.7656 158.177 87.1212 164.143 93.0942C170.109 99.0673 173.461 107.168 173.461 115.616V169.377H87.9414V116.24C87.9483 107.629 91.3679 99.3732 97.4495 93.2846C103.531 87.196 111.777 83.7725 120.378 83.7656V83.7656Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M132.175 183.71L139.356 198.283C139.455 198.488 139.604 198.665 139.789 198.799C139.973 198.933 140.188 199.019 140.414 199.05L156.476 201.39C156.735 201.429 156.978 201.539 157.177 201.708C157.376 201.878 157.525 202.099 157.606 202.348C157.687 202.597 157.697 202.863 157.635 203.118C157.573 203.372 157.442 203.604 157.256 203.788L145.634 215.15C145.47 215.308 145.348 215.504 145.276 215.72C145.205 215.937 145.187 216.167 145.225 216.392L147.971 232.408C148.016 232.666 147.988 232.933 147.89 233.176C147.791 233.42 147.626 233.631 147.414 233.785C147.201 233.94 146.95 234.031 146.688 234.05C146.426 234.068 146.164 234.013 145.933 233.89L131.565 226.33C131.364 226.225 131.141 226.171 130.915 226.171C130.689 226.171 130.466 226.225 130.266 226.33L115.892 233.87C115.66 233.993 115.398 234.049 115.136 234.03C114.874 234.012 114.623 233.92 114.41 233.766C114.198 233.611 114.033 233.401 113.935 233.157C113.836 232.913 113.808 232.647 113.853 232.388L116.599 216.372C116.637 216.153 116.622 215.927 116.555 215.715C116.488 215.502 116.372 215.309 116.216 215.15L104.588 203.808C104.402 203.624 104.271 203.392 104.209 203.137C104.147 202.883 104.157 202.616 104.238 202.368C104.319 202.119 104.467 201.897 104.667 201.728C104.866 201.559 105.109 201.448 105.367 201.409L121.43 199.069C121.656 199.038 121.87 198.952 122.055 198.819C122.24 198.685 122.388 198.507 122.488 198.302L129.675 183.729C129.791 183.497 129.968 183.302 130.188 183.165C130.407 183.028 130.66 182.954 130.919 182.952C131.178 182.95 131.432 183.02 131.654 183.153C131.875 183.287 132.056 183.48 132.175 183.71V183.71Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M189.225 191.705L195.263 203.964C195.348 204.135 195.474 204.284 195.628 204.397C195.783 204.51 195.963 204.585 196.152 204.614L209.663 206.564C209.881 206.597 210.084 206.69 210.252 206.832C210.419 206.974 210.543 207.161 210.611 207.37C210.678 207.579 210.686 207.803 210.633 208.017C210.581 208.23 210.47 208.425 210.313 208.579L200.535 218.121C200.398 218.255 200.296 218.42 200.237 218.602C200.178 218.784 200.165 218.978 200.197 219.167L202.502 232.642C202.54 232.859 202.515 233.083 202.432 233.287C202.349 233.492 202.211 233.669 202.033 233.799C201.854 233.929 201.643 234.006 201.423 234.022C201.203 234.038 200.983 233.992 200.788 233.89L188.705 227.526C188.536 227.437 188.348 227.39 188.157 227.39C187.966 227.39 187.777 227.437 187.608 227.526L175.526 233.89C175.33 233.992 175.11 234.038 174.89 234.022C174.67 234.006 174.459 233.929 174.281 233.799C174.103 233.669 173.964 233.492 173.881 233.287C173.798 233.083 173.774 232.859 173.812 232.642L176.116 219.167C176.149 218.978 176.135 218.784 176.076 218.602C176.018 218.42 175.916 218.255 175.779 218.121L166.001 208.579C165.844 208.425 165.733 208.23 165.68 208.017C165.628 207.803 165.636 207.579 165.703 207.37C165.77 207.161 165.895 206.974 166.062 206.832C166.229 206.69 166.433 206.597 166.65 206.564L180.161 204.614C180.351 204.585 180.53 204.51 180.685 204.397C180.84 204.284 180.965 204.135 181.051 203.964L187.089 191.705C187.186 191.504 187.338 191.335 187.527 191.217C187.716 191.099 187.934 191.036 188.157 191.036C188.38 191.036 188.598 191.099 188.787 191.217C188.975 191.335 189.127 191.504 189.225 191.705V191.705Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M242.438 197.171L247.703 207.851C247.778 207.999 247.887 208.127 248.021 208.225C248.156 208.322 248.312 208.385 248.476 208.41L260.24 210.126C260.431 210.152 260.61 210.232 260.757 210.355C260.904 210.479 261.014 210.642 261.074 210.824C261.133 211.007 261.14 211.203 261.094 211.39C261.048 211.577 260.95 211.747 260.812 211.881L252.3 220.188C252.181 220.305 252.092 220.448 252.041 220.606C251.989 220.765 251.975 220.933 252.001 221.098L254.014 232.83C254.048 233.02 254.027 233.215 253.955 233.394C253.883 233.573 253.762 233.728 253.607 233.841C253.451 233.954 253.267 234.021 253.074 234.034C252.882 234.047 252.691 234.006 252.521 233.916L241.996 228.378C241.849 228.301 241.685 228.261 241.519 228.261C241.353 228.261 241.189 228.301 241.042 228.378L230.518 233.916C230.348 234.006 230.156 234.047 229.964 234.034C229.772 234.021 229.587 233.954 229.432 233.841C229.276 233.728 229.155 233.573 229.083 233.394C229.011 233.215 228.991 233.02 229.024 232.83L231.03 221.098C231.059 220.934 231.047 220.765 230.997 220.606C230.946 220.448 230.857 220.304 230.738 220.188L222.22 211.9C222.082 211.766 221.984 211.596 221.938 211.41C221.892 211.223 221.899 211.027 221.958 210.844C222.018 210.661 222.127 210.498 222.275 210.375C222.422 210.251 222.601 210.172 222.791 210.145L234.562 208.429C234.727 208.405 234.883 208.342 235.017 208.244C235.151 208.147 235.261 208.019 235.335 207.87L240.594 197.191C240.678 197.019 240.808 196.874 240.97 196.772C241.132 196.669 241.319 196.614 241.51 196.612C241.701 196.61 241.889 196.661 242.053 196.76C242.217 196.859 242.35 197.001 242.438 197.171Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M71.3075 191.705L65.2629 203.964C65.1776 204.135 65.0523 204.284 64.8975 204.397C64.7426 204.51 64.5629 204.585 64.3734 204.614L50.8625 206.564C50.6453 206.597 50.4417 206.69 50.2743 206.832C50.107 206.974 49.9826 207.161 49.9152 207.37C49.8478 207.579 49.84 207.803 49.8926 208.017C49.9452 208.23 50.0563 208.425 50.2132 208.579L59.991 218.121C60.1277 218.255 60.2298 218.42 60.2886 218.602C60.3475 218.784 60.3612 218.978 60.3286 219.167L58.0237 232.642C57.9863 232.859 58.0105 233.083 58.0934 233.287C58.1764 233.492 58.3149 233.669 58.4932 233.799C58.6716 233.929 58.8827 234.006 59.1026 234.022C59.3225 234.038 59.5426 233.992 59.7378 233.89L71.8204 227.526C71.9895 227.437 72.1778 227.39 72.369 227.39C72.5602 227.39 72.7485 227.437 72.9176 227.526L85.0067 233.89C85.2019 233.992 85.422 234.038 85.6419 234.022C85.8618 234.006 86.0729 233.929 86.2513 233.799C86.4296 233.669 86.5681 233.492 86.6511 233.287C86.734 233.083 86.7582 232.859 86.7208 232.642L84.4029 219.18C84.372 218.991 84.3865 218.798 84.4452 218.616C84.504 218.434 84.6052 218.269 84.7405 218.134L94.5183 208.592C94.6753 208.438 94.7863 208.243 94.8389 208.03C94.8916 207.816 94.8837 207.592 94.8163 207.383C94.7489 207.174 94.6245 206.987 94.4572 206.845C94.2899 206.703 94.0862 206.61 93.869 206.577L80.3581 204.627C80.1686 204.598 79.9889 204.523 79.8341 204.41C79.6793 204.297 79.5539 204.148 79.4686 203.977L73.4305 191.718C73.3346 191.518 73.1846 191.349 72.9976 191.231C72.8107 191.113 72.5943 191.049 72.3731 191.048C72.1518 191.046 71.9347 191.107 71.7463 191.223C71.5579 191.339 71.4059 191.506 71.3075 191.705V191.705Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M19.3867 197.171L14.1212 207.851C14.0477 208 13.9389 208.129 13.8042 208.226C13.6695 208.324 13.5131 208.387 13.3486 208.41L1.58412 210.126C1.3938 210.152 1.21479 210.232 1.06748 210.355C0.920168 210.479 0.810486 210.642 0.750935 210.824C0.691383 211.007 0.684355 211.203 0.73065 211.39C0.776945 211.577 0.874702 211.747 1.01278 211.881L9.5245 220.188C9.64532 220.303 9.73581 220.446 9.78792 220.605C9.84002 220.764 9.85213 220.933 9.82315 221.098L7.79099 232.83C7.75733 233.02 7.77767 233.215 7.84969 233.394C7.92172 233.573 8.04252 233.728 8.19829 233.841C8.35405 233.954 8.5385 234.021 8.73055 234.034C8.92259 234.047 9.11448 234.006 9.28427 233.916L19.8087 228.378C19.9572 228.301 20.1219 228.26 20.2891 228.26C20.4563 228.26 20.6211 228.301 20.7696 228.378L31.2875 233.916C31.4573 234.006 31.6492 234.047 31.8412 234.034C32.0333 234.021 32.2177 233.954 32.3735 233.841C32.5292 233.728 32.65 233.573 32.7221 233.394C32.7941 233.215 32.8144 233.02 32.7808 232.83L30.7746 221.098C30.7459 220.934 30.7576 220.765 30.8085 220.606C30.8594 220.448 30.948 220.304 31.0667 220.188L39.6044 211.9C39.7425 211.766 39.8403 211.596 39.8866 211.41C39.9329 211.223 39.9258 211.027 39.8663 210.844C39.8067 210.661 39.697 210.499 39.5497 210.375C39.4024 210.251 39.2234 210.172 39.0331 210.145L27.2686 208.41C27.1033 208.386 26.946 208.323 26.8103 208.226C26.6746 208.129 26.5645 208 26.4895 207.851L21.2305 197.171C21.1445 197 21.0128 196.856 20.85 196.756C20.6872 196.656 20.4998 196.603 20.3086 196.603C20.1174 196.603 19.93 196.656 19.7672 196.756C19.6044 196.856 19.4727 197 19.3867 197.171Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M228.725 100.237H219.753L215.266 108.017L219.753 115.798H228.725L233.212 108.017L228.725 100.237Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M228.732 115.798H219.759L215.273 131.911L224.239 149.136L233.218 131.911L228.732 115.798Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M224.239 149.136L249.774 101.348' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M224.239 149.136L198.71 101.901' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M41.7403 100.237H32.7676L28.2812 108.017L32.7676 115.798H41.7403L46.2266 108.017L41.7403 100.237Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M41.7469 115.798H32.7742L28.2878 131.911L37.254 149.136L46.2332 131.911L41.7469 115.798Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M37.2542 149.136L62.7893 101.348' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M37.254 149.136L11.7253 101.901' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M136.434 87.2366H125.936L120.69 96.3366L125.936 105.437H136.434L141.68 96.3366L136.434 87.2366Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M136.441 105.437H125.949L120.696 124.287L131.188 144.437L141.687 124.287L136.441 105.437Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M131.188 144.437L161.054 88.5366' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M131.188 144.437L101.323 89.1866' stroke='white' stroke-width='3' stroke-miterlimit='10')
						.advantage__item-title Сильные клиенты <br>и блестящие победы
						.advantage__item-text
							p Оперативная техническая поддержку после запуска проекта в течение 12 месяцев.

					.advantage__item
						.advantage__item-image
							svg(width='306' height='210' viewbox='0 0 306 210' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M5.70386 204.868H203.886C228.634 204.868 275.131 166.39 275.131 166.39H235.962H57.7104L5.70386 204.868Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M27.5132 188.866H243.592' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M144.456 0.335541H127.009V158.003H144.456V0.335541Z' stroke='white' stroke-width='3' stroke-miterlimit='10')
								path(d='M155.528 139.774V6.32021C155.528 4.53555 155.669 2.68379 155.528 0.899123C155.528 0.825321 155.528 0.744812 155.528 0.67101L153.649 1.18091L155.958 4.89785L162.239 15.0288L171.526 30.0106L182.854 48.3068L195.268 68.3272L207.75 88.455L219.426 107.295L229.297 123.216L236.37 134.621C237.484 136.42 238.504 138.338 239.725 140.056C239.776 140.132 239.823 140.21 239.866 140.291L240.739 138.775H165.138C161.655 138.775 158.146 138.647 154.669 138.775H154.522C154.255 138.775 153.999 138.881 153.81 139.069C153.621 139.258 153.515 139.514 153.515 139.781C153.515 140.048 153.621 140.304 153.81 140.493C153.999 140.681 154.255 140.787 154.522 140.787H230.136C233.619 140.787 237.128 140.921 240.604 140.787H240.752C240.928 140.784 241.101 140.735 241.252 140.646C241.404 140.556 241.53 140.429 241.618 140.276C241.706 140.123 241.752 139.951 241.754 139.774C241.755 139.598 241.71 139.425 241.624 139.271L239.316 135.527L233.035 125.396L223.748 110.435L212.42 92.1585L200.006 72.1381L187.524 52.0103L175.848 33.1707L165.977 17.2429L158.904 5.83714C157.783 4.02564 156.683 2.20073 155.549 0.402644L155.408 0.167815C155.294 -0.019852 155.121 -0.165354 154.917 -0.246763C154.713 -0.328173 154.488 -0.341081 154.276 -0.283547C154.064 -0.226012 153.877 -0.101151 153.742 0.0722276C153.607 0.245606 153.532 0.458106 153.529 0.677716V134.125C153.529 135.93 153.482 137.741 153.529 139.546V139.774C153.557 140.019 153.675 140.246 153.859 140.41C154.043 140.574 154.282 140.665 154.529 140.665C154.775 140.665 155.014 140.574 155.198 140.41C155.382 140.246 155.5 140.019 155.528 139.774Z' fill='white')
								path(d='M117.95 139.888V44.4557C117.95 40.0678 118.097 35.6598 117.95 31.272V31.0975C117.946 30.8779 117.871 30.6654 117.737 30.492C117.602 30.3187 117.414 30.1938 117.202 30.1363C116.99 30.0787 116.765 30.0916 116.561 30.1731C116.357 30.2545 116.185 30.4 116.071 30.5876L114.266 33.5062L109.367 41.403L102.1 53.1375L93.2618 67.3812L83.545 83.0608L73.7812 98.8142L64.6347 113.575L56.9377 125.987L51.3747 134.957C50.5023 136.366 49.5763 137.761 48.7509 139.197L48.6301 139.378C48.5443 139.532 48.4998 139.706 48.501 139.882C48.5022 140.058 48.549 140.231 48.6368 140.384C48.7247 140.536 48.8506 140.664 49.0023 140.753C49.154 140.843 49.3263 140.891 49.5025 140.895H108.662C111.347 140.895 114.118 141.009 116.829 140.895H116.943C117.21 140.895 117.466 140.789 117.655 140.6C117.844 140.411 117.95 140.155 117.95 139.888C117.95 139.621 117.844 139.365 117.655 139.177C117.466 138.988 117.21 138.882 116.943 138.882H52.2672C51.3734 138.823 50.4768 138.823 49.583 138.882H49.5025L50.3748 140.398L52.18 137.48L57.0787 129.576L64.3462 117.848L73.1839 103.598L82.9008 87.925L92.6646 72.1717L101.811 57.4113L109.508 44.9924L115.071 36.0221C115.937 34.6333 116.957 33.2512 117.695 31.7886C117.695 31.7215 117.775 31.6678 117.816 31.6007L115.937 31.0975V126.53C115.937 130.911 115.789 135.326 115.937 139.707V139.888C115.937 140.155 116.043 140.411 116.231 140.6C116.42 140.789 116.676 140.895 116.943 140.895C117.21 140.895 117.466 140.789 117.655 140.6C117.844 140.411 117.95 140.155 117.95 139.888Z' fill='white')
								path(d='M222.855 15.3308H282.687' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
								path(d='M203.395 62.2956H263.226' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
								path(d='M14.8289 70.3467H74.6599' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
								path(d='M-10 105.906H49.8311' stroke='white' stroke-width='3' stroke-miterlimit='10' stroke-dasharray='8 8')
						.advantage__item-title Продвижение сайтов на маркетплейсах
						.advantage__item-text
							p Не следует, однако забывать, что укрепление и развитие структуры требуют от нас анализа существенных финансовых условий

		.section
			.service
				.service__title.section__title
					span НАШИ УСЛУГИ
					a.service__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
						.call-us__img
							svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
								rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
								path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
								path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
								path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
								path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

				.service__flex
					.service__item.active
						.service__item-title ДИЗАЙН
						ul.service__item-list
							li UX/UI
							li Сайт-визитка
							li Landing page
							li Корпоративный сайт
							li Интернет-магазин
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

					.service__item
						.service__item-title FRONT-END
						ul.service__item-list
							li PUG
							li Sass
							li Responsive/adaptive
							li БЭМ
							li GSAP
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

					.service__item
						.service__item-title BACK-END
						ul.service__item-list
							li 1C Bitrix
							li Wordpress
							li Open Cart
							li Modx revo
							li Shopify
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

					.service__item
						.service__item-title БРЕНДИНГ
						ul.service__item-list
							li Фирменный стиль
							li Логотип
							li Брендбук
							li Упаковка
							li Текстово-графическая реклама
						a.service__item-link.arrow-link(href="")
							.arrow-link__text ЗАКАЗАТЬ УСЛУГУ
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')



		.section.dark
			.process
				.process__main
					.process__left
						.process__dots
							a.process__dot.active(href="javascript:;") 01
							a.process__dot.subactive(href="javascript:;") 02
							a.process__dot(href="javascript:;") 03
							a.process__dot.hide(href="javascript:;") 04
							a.process__dot.hide(href="javascript:;") 05
							a.process__dot.hide(href="javascript:;") 06
					.process__control
						a.process__control-prev.arrow-link.arrow-link--notcenter(href="javascript:;")
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
						a.process__control-next.arrow-link.arrow-link--notcenter(href="javascript:;")
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.process__content
						.process__title.section__title.section__title--invert
							span КАК МЫ РАБОТАЕМ
							a.process__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
								.call-us__img
									svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
										path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
										path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
										path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
										path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

						.slider-changer.process-control
							a.slider-changer__prev.arrow-link.arrow-link--notcenter(href="javascript:;")
								.arrow-link__img
									svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
							.slider-changer__counter
								.slider-changer__current 01
								.slider-changer__total 04
							a.slider-changer__next.arrow-link.arrow-link--notcenter(href="javascript:;")
								.arrow-link__img
									svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')


						.process__flex

							.process__right
								.process__block.p-step.active
									.p-step__top
										.p-step__title <span>01</span> Анализ ТЗ
										.p-step__text
											p На этом этапе Заказчик предоставляет нашей компании всю имеющуюся информацию о предстоящем объеме работы, при необходимости, заключение соглашения о конфиденциальности предоставленных данных (NDA).Вся информация должна быть максимально подробно изложена в развернутом структурированном виде (спецификация или техническое задание)


								.process__block.p-step
									.p-step__top
										.p-step__title <span>02</span> Согласование стоимости и условий работы с клиентом
										.p-step__text
											p На этом этапе с заказчиком согласовывается стоимость работ согласно техническому заданию или спецификации и составу команды, принимающей участие в разработке проекта.
											p Доступны следующие модели сотрудничества:
											ul
												li Фиксированная цена -  Наиболее востребована для малого и среднего бизнеса в работе над краткосрочными и среднесрочными проектами. Модель включает в себя точный объем требований, сроки и фиксированный бюджет.
												li Почасовая разработка -

								.process__block.p-step
									.p-step__top
										.p-step__title <span>03</span> Формирование команды и выполнение работ
										.p-step__text
											p На этом этапе со стороны нашей компании комплектуется команда необходимых специалистов и выполнение работ. Как правило это менеджер по ведению проекта, Backed программисты, Frontend программисты, UX/UI дизайнер, тестировщики. При необходимости могут быть привлечены иные специалисты, связанные с особенностями проекта.

								.process__block.p-step
									.p-step__top
										.p-step__title <span>04</span> Тестирование
										.p-step__text
											p Тестирование проводится на всех этапах разработки проекта и в минимальном соотношении составляет не менее 15% от времени, потраченного на разработку. Чем качественнее выполняется тестирование, тем надежнее программный продукт.

								.process__block.p-step
									.p-step__top
										.p-step__title <span>05</span> Ввод в эксплуатацию
										.p-step__text
											p На этом этапе подготавливается дополнительная документация по проекту. Проект переносится с тестового сервера на реальный. Происходит базовое наполнение контентом. Происходит обучение персонала заказчика для работы и обслуживания проекта.

								.process__block.p-step
									.p-step__top
										.p-step__title <span>06</span> Поддержка
										.p-step__text
											p В случае если заказчик желает продолжить развитие проекта, и у него отсутствует собственный штат разработчиков, мы готовы оказать последующую поддержку проекта. Это могут быть как разовые задачи, так и выделенная команда с помесячной оплатой. Условия всегда очень индивидуальны.


		.section
			.portfolio
				.portfolio__flex
					.portfolio__title.portfolio__title--mobile.section__title
						span ПОРТФОЛИО
						a.portfolio__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
							.call-us__img
								svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
									rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
									path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
									path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
									path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
									path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')

					.portfolio__left
						.portfolio__title.portfolio__title--desktop.section__title
							span ПОРТФОЛИО
							a.portfolio__call-us.call-us.js-page-link(href="javascrip:;" data-index="5")
								.call-us__img
									svg(width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='59.5' width='59' height='59' rx='29.5' transform='rotate(-90 0.5 59.5)' stroke='#222222')
										path(d='M46.1079 39.2297L39.2262 34.6404C38.3529 34.0627 37.1823 34.2528 36.5366 35.0772L34.5321 37.6546C34.2744 37.9943 33.8061 38.0928 33.4335 37.8858L33.0521 37.6756C31.7881 36.9866 30.2153 36.1288 27.0464 32.9588C23.8775 29.7888 23.018 28.2148 22.329 26.953L22.1199 26.5717C21.91 26.1991 22.0067 25.7288 22.3465 25.4691L24.9222 23.4652C25.7463 22.8195 25.9366 21.6492 25.3596 20.7756L20.7703 13.8939C20.1789 13.0043 18.9924 12.7372 18.0768 13.2876L15.1991 15.0162C14.295 15.5478 13.6316 16.4087 13.3482 17.4185C12.3119 21.1942 13.0915 27.7105 22.6905 37.3107C30.3264 44.9459 36.0109 46.9992 39.9181 46.9992C40.8173 47.0031 41.713 46.8861 42.581 46.6514C43.591 46.3683 44.4521 45.7048 44.9833 44.8004L46.7137 41.9244C47.2648 41.0087 46.9979 39.8215 46.1079 39.2297ZM45.7374 41.3431L44.011 44.2207C43.6296 44.8736 43.0103 45.3535 42.2829 45.5602C38.7973 46.5171 32.7077 45.7245 23.4922 36.509C14.2767 27.2935 13.4841 21.2044 14.4411 17.7183C14.648 16.9901 15.1286 16.37 15.7822 15.9879L18.6599 14.2616C19.0571 14.0225 19.5721 14.1384 19.8287 14.5244L22.3217 18.2673L24.4141 21.4056C24.6647 21.7845 24.5824 22.2923 24.2249 22.5727L21.6486 24.5767C20.8646 25.1762 20.6407 26.2609 21.1234 27.1218L21.328 27.4935C22.0521 28.8216 22.9524 30.4737 26.2391 33.7599C29.5259 37.0461 31.1775 37.9464 32.505 38.6705L32.8772 38.8756C33.738 39.3582 34.8228 39.1344 35.4223 38.3504L37.4263 35.7741C37.7067 35.4168 38.2144 35.3346 38.5935 35.5849L45.4746 40.1742C45.8609 40.4306 45.9767 40.9459 45.7374 41.3431Z' fill='#222222')
										path(d='M32.2657 18.6696C37.5828 18.6755 41.8917 22.9844 41.8976 28.3015C41.8976 28.6144 42.1513 28.8681 42.4642 28.8681C42.7771 28.8681 43.0308 28.6144 43.0308 28.3015C43.0242 22.3588 38.2084 17.543 32.2657 17.5365C31.9528 17.5365 31.6992 17.7901 31.6992 18.103C31.6992 18.416 31.9528 18.6696 32.2657 18.6696Z' fill='#222222')
										path(d='M32.2657 22.0691C35.7061 22.0731 38.4941 24.8611 38.4981 28.3015C38.4981 28.6144 38.7519 28.8681 39.0647 28.8681C39.3776 28.8681 39.6313 28.6144 39.6313 28.3015C39.6266 24.2355 36.3316 20.9406 32.2657 20.936C31.9528 20.936 31.6992 21.1896 31.6992 21.5025C31.6992 21.8154 31.9528 22.0691 32.2657 22.0691Z' fill='#222222')
										path(d='M32.2657 25.4686C33.8295 25.4704 35.0967 26.7377 35.0987 28.3015C35.0987 28.6144 35.3524 28.8681 35.6652 28.8681C35.9781 28.8681 36.2318 28.6144 36.2318 28.3015C36.2293 26.1122 34.4551 24.3379 32.2657 24.3355C31.9528 24.3355 31.6992 24.5891 31.6992 24.902C31.6992 25.215 31.9528 25.4686 32.2657 25.4686Z' fill='#222222')
						ul.portfolio__menu
							li
								a.js-portfolio-link.active(href="javascript:;" data-link="https://site.ru" data-image="images/home.jpg") <span>01</span> Курчатовское время
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://site2.ru" data-image="images/contacts.jpg") <span>02</span> NINJA PIZZA
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://site3.ru" data-image="images/home.jpg") <span>03</span> ЭХО Москвы
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://site4.ru" data-image="images/contacts.jpg") <span>04</span> Радио ENERJY
							li
								a.js-portfolio-link(href="javascript:;" data-link="https://site5.ru" data-image="images/home.jpg") <span>05</span> Сдача аренды в Ростове
					.portfolio__right
						.portfolio__image
							img(src="images/home.jpg" alt="")

						.portfolio__link
							a.arrow-link(href="https://site.ru" target='_blank')
								.arrow-link__text НА САЙТ
								.arrow-link__img
									svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')

				.slider-changer.portfolio-control
					a.slider-changer__prev.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.slider-changer__counter
						.slider-changer__current 01
						.slider-changer__total 05
					a.slider-changer__next.arrow-link.arrow-link--notcenter(href="javascript:;")
						.arrow-link__img
							svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')


				.portfolio__mobile
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/home.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text Курчатовское время
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/contacts.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text NINJA PIZZA
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/home.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text ЭХО Москвы
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/contacts.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text Радио ENERJY
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
					.portfolio__mobile-item
						.portfolio__mobile-image
							img(data-lazy="images/contacts.jpg")
						a.arrow-link(href="https://site.ru" target='_blank')
							.arrow-link__text Сдача аренды в Ростове
							.arrow-link__img
								svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')



		.section.dark
			.contacts
				.contacts__title.section__title
					span СВЯЗАТЬСЯ С НАМИ
				.contacts__flex
					.contacts__left
						form.contacts__form.form
							.form__input
								input(type="text" name="" placeholder="Как к вам обращаться?" required)
								.form__input-status
							.form__input
								input(type="tel" name="" placeholder="Телефон" required)
								.form__input-status
							.form__input
								input(type="email" name="" placeholder="Email" required)
								.form__input-status
							.form__input
								select.js-custom-select(name="" required)
									option
									option(value="Аутсорс-разработка") Аутсорс-разработка
									option(value="Создание сайта") Создание сайта
									option(value="Техническая поддержка") Техническая поддержка
								.form__input-status
							.form__input
								textarea(name="" placeholder="Сообщение" required)
								.form__input-status


							.form__btns
								label.checkbox
									input(type="checkbox" name="agree" value="1" required checked)
									.checkbox__icon
									.checkbox__text Согласен с политикой конфиденциальности
								button.arrow-link.arrow-link--notcenter(type="submit")
									.arrow-link__img
										svg(width='14' height='25' viewbox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M11.2956 12.9596C11.5552 12.7001 0.134071 24.1196 0.134071 24.1196C-0.0437327 24.2986 -0.0437327 24.5905 0.134071 24.7694C0.313449 24.9484 0.605725 24.9484 0.783923 24.7694L12.7291 12.8243L12.7306 12.8235L13.0552 12.5006L12.7306 12.176L12.7291 12.1748L0.783921 0.230092C0.694626 0.139617 0.5774 0.0963451 0.459781 0.0963451C0.342163 0.0963451 0.224545 0.141191 0.134069 0.230092C-0.0445216 0.409471 -0.0445215 0.700957 0.134069 0.879548C0.134069 0.879548 11.0361 11.7815 11.2956 12.0411C11.5552 12.3007 11.555 12.2941 11.5552 12.5C11.5553 12.7061 11.0361 13.2192 11.2956 12.9596Z' fill='#222222')
						.contacts__info
							.contacts__col
								.contacts__col-title КОНТАКТНАЯ ИНФОРМАЦИЯ
								.contacts__col-text
									a(href="tel:+79998887765") +7 (999) 888 77-65
									a(href="mailto:12345@mail.com") 12345@mail.com
							.contacts__col
								.contacts__col-title СВЯЗАТЬСЯ С НАМИ
								.contacts__col-social.social
									a(href="#fb")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M3.125 25H12.5V16.4062H9.375V12.5H12.5V9.375C12.5 6.78542 14.5979 4.6875 17.1875 4.6875H20.3125V8.59375H18.75C17.8875 8.59375 17.1875 8.5125 17.1875 9.375V12.5H21.0938L19.5312 16.4062H17.1875V25H21.875C23.5979 25 25 23.5979 25 21.875V3.125C25 1.40104 23.5979 0 21.875 0H3.125C1.40104 0 0 1.40104 0 3.125V21.875C0 23.5979 1.40104 25 3.125 25Z' fill='white')
									a(href="#in")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M24.9936 25V24.999H24.9998V15.8302C24.9998 11.3448 24.0342 7.88959 18.7904 7.88959C16.2696 7.88959 14.5779 9.27292 13.8873 10.5844H13.8144V8.30834H8.84253V24.999H14.0196V16.7344C14.0196 14.5583 14.4321 12.4542 17.1269 12.4542C19.7821 12.4542 19.8217 14.9375 19.8217 16.874V25H24.9936Z' fill='white')
											path(d='M0.412415 8.30939H5.59575V25H0.412415V8.30939Z' fill='white')
											path(d='M3.00208 0C1.34479 0 0 1.34479 0 3.00208C0 4.65938 1.34479 6.03229 3.00208 6.03229C4.65937 6.03229 6.00417 4.65938 6.00417 3.00208C6.00312 1.34479 4.65833 0 3.00208 0V0Z' fill='white')
									a(href="#te")
										svg(width='30' height='25' viewbox='0 0 30 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M11.7712 16.4295L11.275 23.398C11.985 23.398 12.2925 23.0935 12.6612 22.7279L15.99 19.5519L22.8875 24.5948C24.1525 25.2986 25.0437 24.928 25.385 23.433L29.9125 2.25301L29.9137 2.25176C30.315 0.384848 29.2375 -0.345194 28.005 0.112798L1.39248 10.2847C-0.423772 10.9886 -0.396272 11.9994 1.08373 12.4574L7.88748 14.5701L23.6912 4.69771C24.435 4.20602 25.1112 4.47807 24.555 4.96976L11.7712 16.4295Z' fill='white')
									a(href="#sk")
										svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M24.2802 15.1523C26.0906 7.01686 18.9635 -0.373758 10.5938 1.04499C6.05 -1.7748 0 1.41166 0 6.8179C0 8.07519 0.346875 9.25228 0.95 10.2669C-0.732292 18.421 6.45312 25.7054 14.8156 24.1898C20.7271 27.3158 27.2594 21.0814 24.2802 15.1523ZM16.324 20.0585C14.1281 20.9616 10.5146 20.9668 8.32813 19.8221C5.21042 18.1596 4.65625 14.4169 7.34583 14.4169C9.37292 14.4169 8.73125 16.7804 10.7781 17.7439C11.7177 18.1783 13.7375 18.2231 14.9115 17.4314C16.0708 16.6554 15.9646 15.4346 15.3344 14.8512C13.6646 13.3096 8.88646 13.9221 6.70208 11.2231C5.75313 10.0523 5.57396 7.98665 6.74063 6.48874C8.77396 3.87207 14.7406 3.7127 17.3063 5.68874C19.675 7.52207 19.0354 9.9554 17.124 9.9554C14.825 9.9554 16.0333 6.94707 12.3219 6.94707C9.63125 6.94707 8.57292 8.86061 10.4677 9.79186C13.0365 11.0679 19.5823 10.6419 19.5823 15.6283C19.5771 17.7033 18.3052 19.2502 16.324 20.0585Z' fill='white')


					.contacts__right
						.contacts__image(style="background-image: url(images/contacts.jpg)")

				.contacts__copyline
					.contacts__copyleft MOCKUP DIGITAL
					.contacts__copyright
						span 2011 - 2020 ©
						span Все права защищены
