header.header
    .header__container
        .header__left
            a.header__logo.js-page-link(href="javascrip:;" data-index="0")
                svg(width='52' height='26' viewbox='0 0 52 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M20.86 25.7491V8.98381L14.3046 21.4723H11.526L4.96943 8.98381V25.7491H0V0.206635H5.33325L12.8971 14.7388L20.5349 0.206635H25.8329V25.7514L20.86 25.7491Z' fill='#222222')
                    path(d='M50.5709 6.42479C49.6318 4.47561 48.1392 2.84536 46.2791 1.73704C44.3751 0.578258 42.0043 -0.00075614 39.1666 7.41071e-07H37V4.42775H39.1666C40.8022 4.42775 42.1949 4.78841 43.3447 5.50972C44.4973 6.23414 45.4147 7.27687 45.9858 8.51151C46.5982 9.7982 46.9036 11.2813 46.9021 12.9608C46.9021 14.5972 46.6027 16.0686 46.004 17.375C45.4483 18.6327 44.5377 19.7015 43.3834 20.4505C42.2351 21.1953 40.8295 21.5677 39.1666 21.5677H34.7645V15.5H29.7029V26H39.1666C41.7815 26 44.0489 25.4626 45.9687 24.3878C47.8641 23.3384 49.4124 21.7604 50.4243 19.8466C51.4748 17.893 52 15.5978 52 12.9608C52 10.5714 51.5237 8.39268 50.5709 6.42479Z' fill='#222222')
                    path(d='M35 13V0H30V13' fill='#222222')

        .header__center
            ul.header__menu.js-top-menu
                li
                    a.js-page-link(href="javascript:;" data-index="1") УСЛУГИ
                li
                    a.js-page-link(href="javascript:;" data-index="2") ПОРТФОЛИО
                li
                    a.js-page-link(href="javascript:;" data-index="3") О НАС
                li
                    a.js-page-link(href="javascript:;" data-index="4") РАБОТА
                li
                    a.js-page-link(href="javascript:;" data-index="5") СВЯЗАТЬСЯ  С НАМИ
        .header__right
            ul.header__menu.header__menu--lang
                li.active
                    a(href="javascript:;") RUS
                li
                    a(href="javascript:;") ENG
            .header__burger.burger
                span.cls
                span
                    ul.burger__sub-menu
                        li
                            a.js-page-link(href="javascript:;" data-index="1") УСЛУГИ
                        li
                            a.js-page-link(href="javascript:;" data-index="2") ПОРТФОЛИО
                        li
                            a.js-page-link(href="javascript:;" data-index="3") О НАС
                        li
                            a.js-page-link(href="javascript:;" data-index="4") РАБОТА
                        li
                            a.js-page-link(href="javascript:;" data-index="5") СВЯЗАТЬСЯ  С НАМИ
                    .burger__social.social
                        a(href="#fb")
                            svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2.5 20H10V13.125H7.5V10H10V7.5C10 5.42833 11.6783 3.75 13.75 3.75H16.25V6.875H15C14.31 6.875 13.75 6.81 13.75 7.5V10H16.875L15.625 13.125H13.75V20H17.5C18.8783 20 20 18.8783 20 17.5V2.5C20 1.12083 18.8783 0 17.5 0H2.5C1.12083 0 0 1.12083 0 2.5V17.5C0 18.8783 1.12083 20 2.5 20Z' fill='white')
                        a(href="#in")
                            svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.9948 20V19.9992H19.9998V12.6641C19.9998 9.07581 19.2273 6.31165 15.0323 6.31165C13.0156 6.31165 11.6623 7.41831 11.1098 8.46748H11.0515V6.64665H7.07397V19.9992H11.2156V13.3875C11.2156 11.6466 11.5456 9.96331 13.7015 9.96331C15.8256 9.96331 15.8573 11.95 15.8573 13.4991V20H19.9948Z' fill='white')
                                path(d='M0.330078 6.64752H4.47675V20H0.330078V6.64752Z' fill='white')
                                path(d='M2.40167 0C1.07583 0 0 1.07583 0 2.40167C0 3.7275 1.07583 4.82583 2.40167 4.82583C3.7275 4.82583 4.80333 3.7275 4.80333 2.40167C4.8025 1.07583 3.72667 0 2.40167 0V0Z' fill='white')
                        a(href="#te")
                            svg(width='24' height='20' viewbox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.41693 13.1442L9.01993 18.719C9.58793 18.719 9.83393 18.4754 10.1289 18.1829L12.7919 15.6421L18.3099 19.6764C19.3219 20.2395 20.0349 19.9429 20.3079 18.7469L23.9299 1.80295L23.9309 1.80196C24.2519 0.308428 23.3899 -0.275606 22.4039 0.0907878L1.11393 8.22832C-0.339066 8.79139 -0.317066 9.60005 0.866934 9.96645L6.30993 11.6566L18.9529 3.75872C19.5479 3.36537 20.0889 3.58301 19.6439 3.97636L9.41693 13.1442Z' fill='white')

                        a(href="#sk")
                            svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.4242 12.1212C20.8725 5.61287 15.1708 -0.299629 8.475 0.83537C4.84 -1.42046 0 1.1287 0 5.4537C0 6.45953 0.2775 7.4012 0.76 8.21286C-0.585833 14.7362 5.1625 20.5637 11.8525 19.3512C16.5817 21.852 21.8075 16.8645 19.4242 12.1212ZM13.0592 16.0462C11.3025 16.7687 8.41167 16.7729 6.6625 15.857C4.16833 14.527 3.725 11.5329 5.87667 11.5329C7.49833 11.5329 6.985 13.4237 8.6225 14.1945C9.37417 14.542 10.99 14.5779 11.9292 13.9445C12.8567 13.3237 12.7717 12.347 12.2675 11.8804C10.9317 10.647 7.10917 11.137 5.36167 8.97786C4.6025 8.0412 4.45917 6.3887 5.3925 5.19037C7.01917 3.09703 11.7925 2.96953 13.845 4.55037C15.74 6.01703 15.2283 7.9637 13.6992 7.9637C11.86 7.9637 12.8267 5.55703 9.8575 5.55703C7.705 5.55703 6.85833 7.08786 8.37417 7.83286C10.4292 8.8537 15.6658 8.51286 15.6658 12.502C15.6617 14.162 14.6442 15.3995 13.0592 16.0462Z' fill='white')


                span.cls
